:root {
  color-scheme: light dark;

  --surface: light-dark(rgb(248, 250, 252), rgb(11, 12, 13));
  --on-surface: light-dark(rgb(15, 23, 42), rgb(220, 224, 230));
  --muted: light-dark(rgb(100, 116, 139), rgb(148, 163, 184));
  --accent: light-dark(rgb(99, 102, 241), rgb(96, 165, 250));
  --dots: light-dark(rgb(225, 228, 232), rgb(41, 41, 41));
  --bright: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));

  --glass: light-dark(rgba(248, 250, 252, 0.5), rgba(255, 255, 255, 0.02));
  --glass-outline: light-dark(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.03));

  --radius: 12px;
  --transition-fast: 160ms;
  --nav: 60px;
}

.glass {
  background: var(--glass);
  backdrop-filter: blur(12px) brightness(0.9);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.06);
  border: 1px solid var(--glass-outline);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "sohne", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--surface);
  color: var(--on-surface);
  background-image: radial-gradient(var(--dots) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;

  overflow-x: hidden;
}

footer {
  text-align: center;
  padding-bottom: 10px;
}

nav {
  width: 100%;
  height: var(--nav);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

nav a {
  color: rgb(var(--on-surface));
  padding: 0.8rem 0.9rem;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;

  height: 43px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  margin-left: 10px;
}

.btn {
  padding: 1rem 2rem;
  background: var(--accent);
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

.btn-dark {
  color: rgb(var(--on-surface));
  padding: 0.8rem 0.9rem;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;

  display: inline-block;
  margin-bottom: 20px;
}

#theme-toggle {
  padding: 8px;
  margin-left: auto;
  margin-right: 10px;
}

#theme-toggle img {
  width: 25px;
  height: 25px;
  display: block;
}

@font-face {
  font-family: sohne;
  src: url(fonts/sohne-300-normal.woff) format("woff");
  font-weight: 300;
}
@font-face {
  font-family: sohne;
  src: url(fonts/sohne-400-normal.woff) format("woff");
  font-weight: 400;
}
@font-face {
  font-family: sohne;
  src: url(fonts/sohne-500-normal.woff) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: sohne;
  src: url(fonts/sohne-700-normal.woff) format("woff");
  font-weight: 700;
}
